<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Тренажерный зал" %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application", defer: true %>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><%= link_to 'Клиенты', clients_path %></li>
        <li><%= link_to 'Тренера', trainers_path %></li>
        <li><%= link_to 'Тренировки', trainings_path %></li>
        <li><%= link_to 'Графики работы', work_schedules_path %></li>
      </ul>
    </nav>
  </header>

  <main>
    <%= yield %>
  </main>

  <%= javascript_include_tag "application" %>
</body>
</html>
